.accordion {
  --_button-size: 3rem;
  --_panel-padding: 0.75rem;
  --_panel-gap: 1rem;
  --_panel-outline: 3px;
  --_panel-outline-offset: 4px;
  --_panel-border-radius: calc(
    ((var(--_panel-padding) * 2) + var(--_button-size)) / 2
  );

  display: flex;
  flex-direction: column;
  gap: 1rem;
  contain: content;
  padding: calc(var(--_panel-outline) + var(--_panel-outline-offset));
}

.accordion * {
  margin: 0;
}

.accordion img {
  max-width: 100%;
  display: block;
}

@media (min-width: 45em) {
  .accordion {
    flex-direction: row;
    height: 30rem;
  }
}

.accordion-panel {
  position: relative;
  isolation: isolate;
  flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
  overflow: hidden;
  padding: var(--_panel-padding);
  padding-right: calc(var(--_panel-padding) * 4);
  border-radius: var(--_panel-border-radius);
  cursor: pointer;
}

@media (min-width: 45em) {
  .accordion-panel:has([aria-expanded='false']) {
    border-top-right-radius: 5px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-panel {
    transition: flex-basis 500ms, flex-grow 500ms, border-radius 500ms,
      outline 500ms;
  }
}

.accordion-panel:nth-child(1) {
  --_panel-color: hsl(130, 70%, 50%);
}

.accordion-panel:nth-child(2) {
  --_panel-color: hsl(30, 70%, 50%);
}

.accordion-panel:nth-child(3) {
  --_panel-color: hsl(220, 70%, 50%);
}

.accordion-panel:nth-child(4) {
  --_panel-color: hsl(60, 70%, 50%);
}

.accordion-panel:nth-child(5) {
  --_panel-color: #9b4993;
}

.accordion-panel:has([aria-expanded='true']) {
  flex-basis: clamp(15rem, 40vh, 30rem);
  flex-grow: 1;
  cursor: initial;
}

.accordion-panel:focus-within {
  outline: var(--_panel-outline) solid var(--_panel-color);
  outline-offset: var(--_panel-outline-offset);
}

.accordion-content > .accordion-text {
  transform: translateY(2rem);
  opacity: 0;
  margin-left: calc(var(--_button-size) + var(--_panel-gap));
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-panel:has([aria-expanded='true'])
    .accordion-content
    > .accordion-text {
    transition: transform 500ms 500ms, opacity 500ms 500ms;
  }
}

.accordion-panel:has([aria-expanded='true'])
  .accordion-content
  > .accordion-text {
  transform: translateY(0);
  opacity: 1;
}

.accordion-title {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  isolation: isolate;
  display: grid;
  align-items: center;
}

@media (max-width: 44.999em) {
  .accordion-title::after {
    content: '';
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 2));
    height: var(--_button-size);
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
    border-radius: 100vw;
  }
}

.accordion-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  transition: filter 500ms;
}

.accordion-panel:has([aria-expanded='true']) .accordion-image {
  filter: brightness(0.5);
}

.accordion-trigger {
  display: flex;
  align-items: center;
  gap: var(--_panel-gap);
  flex-direction: row-reverse;
  background: transparent;
  border: 0;
  padding: 0;
  outline: 0;
}

.accordion-icon {
  fill: var(--_panel-color);
  background: hsla(0, 0%, 100%, 0.4);
  width: var(--_button-size);
  aspect-ratio: 1 / 1;
  padding: 0.25rem;
  border-radius: 50% 5% 50% 50%;
  z-index: 10;
}
